<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Waves</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
  </head>
  <body>
    <a name='idfirst' class="anchor"></a>
    <header id="first">
        <div class="header-content">
            <div class="inner">
            <div class="jumbotron">
                <div class='close'>
                <i class="fa fa-times fa-2x"></i>
                </div>
                  <h1>WAVES</h1>
                  <p>Waves is a duo dj group from toronto about to take over the world, they drop fire bomb tracks and make your face bleed. get ready. #makingwaves Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus veniam tenetur nulla harum, recusandae nihil id iste dolore. Iure illo ullam, omnis dolores quia excepturi sed consectetur debitis assumenda unde! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum tenetur reiciendis ea reprehenderit. Quia doloribus ad similique dignissimos consectetur veritatis sunt, nam temporibus provident voluptatibus. Ducimus illo magnam voluptatibus recusandae.</p>
                </div>
        </div>
    </header>
    <a name='idtwo' class="anchor"></a>
    <section id="two">
     <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
        <h1 class="title">Upcoming Events</h1>
    </div>
        <div class="row" style='margin: 10px;'>
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img src="assets/dvbbs2.jpg">
              <div class="caption">
                <h3>TomorrowLand</h3>
                <p>January 15th 2016</p>
                <p><a href="#" class="btn btn-primary" role="button">Get Tickets</a>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img src="assets/dvbbs2.jpg">
              <div class="caption">
                <h3>HeartBreak Hotel</h3>
                <p>January 15th 2016</p>
                <p><a href="#" class="btn btn-primary" role="button">Get Tickets</a>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img src="assets/dvbbs2.jpg">
              <div class="caption">
                <h3>F-stop</h3>
                <p>January 15th 2016</p>
                <p><a href="#" class="btn btn-primary" role="button">Get Tickets</a>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img src="assets/dvbbs2.jpg">
              <div class="caption">
                <h3>Veld</h3>
                <p>January 15th 2016</p>
                <p><a href="#" class="btn btn-primary" role="button">Get Tickets</a>
              </div>
            </div>
          </div>
        </div>
        <hr>
    </section>
    <a name='idthree' class="anchor"></a>
    <section id="three">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class='title white'>Music</h1>

                    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/6422381&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>



                </div>
            </div>
        </div>
    </section>
    <a name='idlast' class="anchor"></a>
    <aside class="bg-dark">
        <div class="container text-center">

            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <div class="col-sm-4 col-xs-4 text-center">
                            <a href="https://www.facebook.com/wearewavesofficial/?fref=ts">
                                <i class="fa fa-facebook-official fa-5x"></i>
                            </a>
                        </div>
                        <div class="col-sm-4 col-xs-4 text-center">
                            <a href="https://soundcloud.com/phlexofficial">
                                <i class="fa fa-soundcloud fa-5x"></i>
                            </a>
                        </div>
                        <div class="col-sm-4 col-xs-4 text-center">
                            <a href="https://www.instagram.com/wearewaves/">
                                <i class="fa fa-instagram fa-5x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <section id="last">
        <div class="container">
            <div class="row">
            <div class="col-lg-6 text-center">
                    <h2 class="margin-top-0 wow fadeIn">Booking Inquries</h2>
                    <hr class="primary">
                    <h4>Harrison Cogan</h4>
                    <h5>imafag@hotmail.com</h5>
                </div>
                <div class="col-lg-6 text-center">
                    <h2 class="margin-top-0 wow fadeIn">Fan Love</h2>
                </div>
                </div>

            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-3 column">

                </div>
                <div class="col-xs-6 col-sm-3 column">

                </div>

            </div>
            <br/>

        </div>
    </footer>
    <script src="assets/application.js"></script>
  </body>
</html>