/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

/*

Landing Zero theme - A free landing page theme from BootstrapZero
http://www.bootstrapzero.com

*/

@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

@font-face {
    font-family: 'Lovelo Black';
    src: url(/assets/Lovelo_Black.otf) format("truetype");
}

@font-face {
    font-family: 'Lovelo Line Light';
    src: url(/assets/Lovelo_Line_Light.otf) format("truetype");
}

@font-face {
    font-family: 'Lovelo Line Bold';
    src: url(/assets/Lovelo_Line_Bold.otf) format("truetype");
}

.widget {
    background-color: #000;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    background-color: #282828;
    color: #d3d3d3;
    webkit-tap-highlight-color: #222;
}

hr {
    max-width: 80px;
    border-width: 3px;
    opacity: 0.09;
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;

}

a {
    color: white;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    font-family: 'Lovelo Black';
}

a:hover,
a:focus {
    color: #9c27c1;
    outline: 0;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #f3504c;
  background-color: rgba(0, 0, 0, 0) ;
  font-size: 1em;
}

.bg-primary {
    color: #fff;
    background-color: #000000;
}

h1 {
    font-family: 'Lovelo Line Light';
    font-size: 53px;
}

h2,h3,h4,h5,h6

p {
    font-family: 'Lovelo Black';
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 20px;
}


section {
    padding: 70px 0;
}

aside {
    padding: 50px 0;
}

footer {
    padding: 15px;
}

.no-padding {
    padding: 0;
}



header {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #fff;
    width: 100%;
    background-color: #c9c9c9;
    background-image: url('dvbbs2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}

header .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.7);
}


footer {
    background-color:#2d2d2d;
}

@media(min-width:768px) {
    .icon-lg {
        font-size: 80px;
    }

    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .inner h1 {
        font-size: 53px;
    }

    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }

    section {
        min-height: 600px;
        padding: 100px 0;
    }

}

.feature {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .feature {
        margin: 20px auto 0;
    }
}

.feature p {
    margin-bottom: 0;
}

.bg-dark {
    background-color: black;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

#three {
    background-color: white;
}
.navbar {
    background-color: #222;
    border: none;
    transition: 3s;
    color: white;
    font-size: 1em;
    filter: blur(10px);
}

.jumbotron {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 5px rgba(22, 22, 22, 0.8);
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.close {
    width: 100%;
    height: 3em;
}

.fa-times {
    float: right;
    margin-right: 0.2em;
    color: white;
}

.close:hover, .close:focus {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    cursor: auto;
}

.fa-times:hover, .fa-times:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#two, #three {
    padding-top: 25px;
}

#two {
    background: #222 url('bg-pattern-gray.png');
    -webkit-box-shadow: 0px 10px 12px -4px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px 10px 12px -4px rgba(0,0,0,0.72);
    box-shadow: 0px 10px 12px -4px rgba(0,0,0,0.72);
    overflow: visible
}

#three {
    background: #222 url('bg-pattern-gray-lightest.png')
}


.title {
    margin-bottom: 1em;
    color: #ffffff;
}

.white {
    color: #000;
}

#last {

    background: #222 url('bg-pattern-gray.png');

}



.thumbnail {
    -webkit-box-shadow: 7px 7px 10px -2px rgba(0,0,0,0.72);
    -moz-box-shadow: 7px 7px 10px -2px rgba(0,0,0,0.72);
    box-shadow: 7px 7px 10px -2px rgba(0,0,0,0.72);
    background: #d3d3d3;


    img {
        -webkit-box-shadow: 0px 8px 8px -2px rgba(65,65,74,1);
    -moz-box-shadow: 0px 8px 8px -2px rgba(65,65,74,1);
    box-shadow: 0px 8px 8px -2px rgba(65,65,74,1);
    }
}

.btn-primary {
    background-color: black;
    border-color: black;
    transition: 0.1s;
}
.btn-primary:hover {
    background-color: white;
    border-color: white;
    color: black;
}

hr {
    width: 80%;
    border-color: #f3504c;
    max-width: 100%;
    opacity: 1;
}

.navbar-collapse {
    overflow: hidden;
}

